target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr



### VS Code / Eclipse ###
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs

### Mac OS ###
.DS_Store
